body {
  background-color: #222;
  /* margin: 0;
  min-height: 50vh; */
}

div {
  display: flex;
  margin: 0.5rem;
  padding: 1rem;
  border: 3px solid black;
  min-height: 1rem;
  flex-grow: 1;
}

.grandparent {
  background-color: hsl(0, 50%, 50%);
  flex-direction: column;
}

.parent {
  background-color: hsl(100, 50%, 50%);
}

.child {
  background-color: hsl(200, 50%, 50%);
}
