#mainDIV {
  max-width: 600px;
  background-color: #333;
  margin: 40px auto 0 auto;
  line-height: 1.65;
  padding: 20px;
}

h1 {
  color: green;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}

li {
  color: white;
  padding: 5px;
  text-align: center;
}

form {
  position: relative;
  left: 150px;
}

form input {
  font-size: 1em;
}

body {
  background-color: #111;
  padding: 50px;
  margin: 100px;
}
