* {
  box-sizing: border-box;
  margin: 0;
  --transition-delay: 1.5s;
}

body {
  background-color: #333;
  color: #fff;
  width: 35em;
  margin: 0 auto;
  font-family: Tahoma, Verdana, Arial, sans-serif;
}

body h1 {
  color: sandybrown;
}

a:link {
  color: sandybrown;
}

a:visited {
  color: sandybrown;
}

#quacks {
  background: repeat-y 100% 100% fixed;
  /* height: 75%; */
  width: 550px;
}

.raspi {
  position: relative;
  width: 10%;
  background-image: url(/javascript/quackers.ninja/images/Raspi-PGB001.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  padding: 4em;
  margin-left: 20px;
  margin-top: 10px;

  transition: var(--transition-delay);
  transform: scale(1);
}

.raspi:hover {
  transition: var(--transition-delay);
  transform: scale(5) translate(10px, 5%) rotate(360deg);
}

#goober {
  width: 120px;
  border-radius: 20px;
  margin-right: 10px;
  padding: 10px;

  transition: var(--transition-delay);
  transform: scale(1);
}

#goober:hover {
  transform: rotate(25deg) scale(5) translate(2px, -95px);
  z-index: 3;
}
