* {
    background-color: #333;
    color: greenyellow;
    margin: 2px;
    border: 1px solid white;
}

h1 {
    text-align: center;
}

p {
    color: palevioletred;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

div {
    color: white;
}

.alert-text {
    color: red;
}

#title {
    text-align: center;
    background-color: #222;
    color: yellow;
    padding: 10px;
}

.subsection.header {
    color: aquamarine;
    font-size: 50px;
}

.subsection#preview {
    color: goldenrod;
    font-size: xx-large;
}

.ancestor .contents {
    font-size: larger;
    padding: 5px;
}

#goober {
    height: auto;
    width: 300px;
}

#parent {
    color: yellowgreen;
}

.child {
    color: green;
}
