/* Taken from https://www.youtube.com/watch?v=3YW65K6LcIA */

* {
    background-color: #333;
    color: white;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.heading {
    color: greenyellow;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.flex-container {
    /* height: 300px; /* Height required to move items vertically */
    display: flex;
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    background-color: #444;
    /* Always is on the main axis */
    /* justify-content: end; */
    /* Always on the cross axis */
    /* align-items: center; */

    /* flex-wrap: wrap; */
}

.item {
    flex: 1;
    /* flex: 1 0 100px; */
    /* flex-basis: 300px; */
    /* flex-grow: 1; */
    /* width: 100px; */
    height: 100px;
    background: blue;
    color: #fff;
    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.item:nth-of-type(1) {
    /* align-self: start; */
    /* order: 2; */
    /* flex-grow: 3;
    flex-basis: 200px; */
    /* flex-shrink: 1; */
}

.item:nth-of-type(2) {
    /* align-self: center; */
    /* order: 1; */
    /* flex-basis: 200px; */
    /* flex-grow: 1; */
    /* flex-shrink: 2; */
}

.item:nth-of-type(3) {
    /* align-self: end; */
    /* order: 3; */
    /* flex-grow: 2; */
    /* flex-shrink: 3; */
}