/* Taken from https://youtu.be/fYq5PXgSsbE */

* {
    background-color: #333;
    color: greenyellow;
    margin: 10px;
}

h1 {
    text-align: center;
}

.flexbox-container {
    /* height: 800px; */
    display: flex;
    /* flex-direction: column; */


    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
    justify-content: center;
    /* align-items: center; */

    border: 3px solid white;
}

.flexbox-item {
    width: 200px;
    margin: 10px;
    border: 3px solid white;
    background-color: #222;
    text-align: center;
}

.flexbox-item-1 {
    min-height: 100px;
    flex-shrink: 0;
    align-self: flex-end;
    order: 3;
}

.flexbox-item-2 {
    min-height: 200px;
    flex-grow: 2;
    flex-basis: 0;
    align-self: center;
    order: 1;
}

.flexbox-item-3 {
    min-height: 300px;
    flex-grow: 1;
    flex-basis: 0;
    order: 2;
}