body {
    background-color: #222;
    color: white;
}

header h1 {
    color: goldenrod;
    text-align: center;
}

body h1, h2, h3, h4, h5, h6 {
    color: goldenrod;
    text-align: center;
}

p {
    background-color: #333;
    color: yellowgreen;
    font-size: large;
    padding: 20px;
}

em, strong {
    background-color: #233;
    color: cornsilk;
    padding: 20px;
}
