@font-face {
  font-family: "Emblema One";
  src: url("EmblemaOne-Regular.woff"), url("EmblemaOne-Regular.ttf");
}
body {
  background-color: #333;
  color: white;
  margin-left: 20%;
  margin-right: 20%;
  border: 5px dotted black;
  padding: 10px 10px 10px 10px;
  font-family: Verdana, Geneva, Arial, sans-serif;
  font-size: small;
}
h1,
h2 {
  color: #cc6600;
  border-bottom: 2px dotted #888888;
}
h1 {
  font-family: "Emblema One", sans-serif;
  font-size: 220%;
}
h2 {
  font-size: 130%;
  font-weight: bold;
}
p {
  color: burlywood;
}
blockquote {
  font-style: italic;
}

ul li {
  color: silver;
}
