body {
    background-color: #222;
    color: palegreen;
    padding: 20px;
    margin: 20px 20px;
}

h1 {
    color: greenyellow;
    text-align: center;
}

h2, h3 {
    color: yellowgreen;
    text-align: center;
}

#homepage {
    color: beige;
    position: fixed;
    top: 0;
    left: 1;
    right: 0;
    padding: 10px;
    font-style: inherit;
    border: 1px solid transparent;
}

#lasagna {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

ol li, ul li, p {
    color: beige;
    margin: 10px;
}