/* Taken from https://www.youtube.com/watch?v=3YW65K6LcIA */

* {
    background-color: #333;
    color: white;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.heading {
    color: greenyellow;
    display: flex;
    justify-content: center;
}

.item {
    width: 100px;
    height: 100px;
    background: blue;
    color: #fff;
    margin: 10px;
}