body {
    background-color: #333;
}

h1 {
    color: white;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    color: green;
    text-align: center;
}

#image0 {
    position: relative;
    left: 12%;
    width: 200;
    padding-right: 10px;
}

#image1 {
    position: relative;
    left: 42%;
    width: 200;
}

#ClickMe-btn {
    position: relative;
    background-color: salmon;
    left: 50%
}
