body {
    background-color: #333;
}

h1,
h2 {
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    color: green;
    text-align: center;
}

#image {
    position: relative;
    left: 43%;
    box-shadow: 1px 1px 1px 1px #333;
}

#ClickMe-btn {
    position: relative;
    background-color: salmon;
    left: 50%
}