* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #222;
  color: green;
  margin: 20px;
}

h1 {
  font-size: 40px;
}

input,
button {
  padding: 10px;
  margin: 10px;
  color: plum;
  background-color: #444;
  border: 1px solid green;
}

ul {
  list-style: none;
  padding: 10px;
  margin: 10px;
  width: 40%;
  float: left;
  color: palegreen;
  font-weight: 500;
  border: 1px solid green;
  background: #555;
  font-size: 18px;
}