@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 12px;
}

a {
    text-decoration: none;    
    color: #E5E7EB;
}

.container {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px 0px 100px;
}

.header-logo {
    width: 50px;
}

.links {
    display: flex;
    justify-content: center;
    padding: 15px;
    padding-top: 10px;
    color: #f9faf8;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image {
    width: 450px;
    height: 220px;
    border: 100px solid transparent;
}

.hero {
    /* border: 1px solid red; */
    width: 400px; 
    margin: 10px;    
    padding: 0px 0px 0px 85px;
}

.signup {
    padding: 8px 24px;
    background: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    border: none;
}

.hero-box {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    flex-direction: column;
    margin: -280px 100px 0px 0px;
}

.hero h1 {
    font-size: 48px;
    /* flex-wrap: wrap; */
}

.hero p {
    color: #E5E7EB;
}

.information {
    display: flex;
    flex-direction: column;
}

.quote {
    display: flex;
    flex-direction: column;
}

.footer {
    height: 72px;
    background: #eee;

    display: flex;
    align-items: center;
    justify-content: center;
}

.information h2 {
    display: flex;
    align-self: center;
}

.images-container {
    display: flex;
    justify-content: center;
}

.images {
    width: 150px;
    height: 150px;
    margin: 10px;
    padding: 15px;
    border-radius: 25px;
}