h1 {
  color: lightcoral;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}
p {
  color: darkgoldenrod;
  font-size: 25px;
  text-align: center;
}

li {
  color: white;
}

.redtext {
  color: red;
}

.myID {
  color: darkgoldenrod;
  font-weight: bold;
  text-align: initial;
  font-size: 40px;
  margin-top: 50px;
}

#goober {
  width: 200px;
  border-radius: 20px;
  float: left;
  margin-right: 10px;
}

body {
  background-color: #222;
  margin: 20px;
}
