body {
  background-color: #222;
  color: white;
  margin: 20px;
}

h1 {
  font-size: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
  margin: 20px;
  border-radius: 8px;
  width: 150px;
}